*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
footer{
  background-color: #413f3f;
  color: #fff;
}

.navbar-nav a.active{
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 10px;
}

.navbar-nav a:active{
  transform: scale(.95);
}

